@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* General styles */
:root {
    --background: #191716;
    --background-emphaze: #e6af2e;
    --text-emphaze: #ff3a2c;
    --text: #e0e2db;
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    height: 100vh;
    margin: auto;
    max-width: 700px;
    overflow-y: auto;
    scrollbar-color: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: normal;
}

hr {
    border: 0;
    border-top: 1px solid var(--text);
    width: 85%;
    margin: 0.5rem auto;
}

/* Webpage title style */

#title {
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 0;
    background-color: var(--text);
    background-image: linear-gradient(
        90deg,
        var(--background-emphaze),
        var(--text-emphaze)
    );
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* Choice buttons style */

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}

.choices button {
    background-color: var(--text-emphaze);
    color: var(--text);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.choices button:hover {
    background-color: var(--background-emphaze);
    color: var(--background);
}

.choices button:active {
    transition: all 0.05s ease-in-out;
    transform: translateY(0.2rem);
}

/* Stats style */

div.statsAndHistory {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}

div.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

div.stats * {
    margin-top: 0.5rem;
}

div.global_score_display button {
    background-color: var(--background-emphaze);
    color: var(--background);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

div.global_score_display button:hover {
    background-color: var(--text-emphaze);
    color: var(--text);
}

/* History style */

div.history {
    margin: 1rem;
}

div.history h2 {
    text-align: center;
}

table#history {
    padding: 0;
    margin-top: 1rem;
}

table#history tr {
    padding: 0.5rem;
}
